{% extends '_base.html' %}
{% load static %}
{% load blog_tags %}

{% block banner %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area single-podcast-breadcumb bg-img bg-overlay"
    style="background-image: url({{ podcast.picture.url }});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Music Area -->
                <div class="poca-music-area style-2 bg-transparent-1 mb-0">
                    <div class="poca-music-content text-center">
                        <span class="music-published-date mb-2">{{ podcast.date_created }}</span>
                        <h2 class="text-white">{{ podcast.title }}</h2>
                        <div class="music-meta-data">
                            <p class="text-white">By <a href="#"
                                    class="music-author text-white">{{ podcast.author.username }}</a> | <a href="#"
                                    class="music-catagory  text-white">{{ podcast.category.name }}</a> | <a href="#"
                                    class="music-duration  text-white">00:02:56 </a></p>
                                    <script>document.querySelector('.music-duration').innerText = document.querySelector('.audioplayer-time-duration').innerText</script>
                        </div>
                        <!-- Music Player -->
                        <div class="poca-music-player style-2">
                            <audio preload="auto" controls>
                                <source src="{{ podcast.audio.url }}">
                            </audio>
                        </div>
                        <!-- Likes, Share & Download -->
                        <div class="likes-share-download d-flex align-items-center justify-content-between">
                            <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                            <div>
                                <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                    Share(04)</a>
                                <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcumb--con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Podcast</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
{% endblock %}
{% block content %}

<!-- ***** Podcast Details Area Start ***** -->
<section class="podcast-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="podcast-details-content d-flex mt-5 mb-80">

                    <!-- Post Share -->
                    <div class="post-share">
                        <p>Share</p>
                        <div class="social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="pinterest"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" class="thumb-tack"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Post Details Text -->
                    <div class="post-details-text">
                        {{ podcast.body | markdown }}

                        <!-- Post Catagories -->
                        <div class="post-catagories d-flex align-items-center">
                            <h6>Category:</h6>
                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#">{{ podcast.category }}</a></li>
                            </ul>
                        </div>

                        <!-- Pagination -->
                        <div class="poca-pager d-flex mb-30">
                            <!-- Using a with block to avoid querying the database twice -->
                            {% with podcast.get_previous_podcast as prev_podcast %}
                            {% if prev_podcast %}
                            <a href="{{ prev_podcast.get_absolute_url }}">Previous Post <span>{{ prev_podcast.title }}</span></a>
                            {% endif %}
                            {% endwith %}
                            {% with podcast.get_next_podcast as next_podcast %}
                            {% if next_podcast %}
                            <a href="{{ next_podcast.get_absolute_url }}">Next Post <span>{{ next_podcast.title }}</span></a>
                            {% endif %}
                            {% endwith %}
                        </div>

                        <!-- Comments Area -->
                        <div class="comment_area mb-50 clearfix">
                            <h5 class="title">{{ podcast.number_of_comments }} Comments</h5>

                            <ol>
                                {% for comment in podcast.comments.all %}
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{% static 'img/bg-img/16.jpg' %}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ comment.date_created }}</a>
                                            <h5>{{ comment.name }}</h5>
                                            <p>{{ comment.comment }}</p>
                                            <a href="#" class="like">Like</a>
                                        </div>
                                    </div>
                                    </li>
                                    {% endfor %}
                            </ol>
                        </div>

                        <!-- Leave A Reply -->
                        <div class="contact-form">
                            <h5 class="mb-30">Leave A Comment</h5>

                            <!-- Form -->
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ comment_form.name }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ comment_form.email }}
                                    </div>
                                    <div class="col-12">
                                        {{ comment_form.comment }}
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn poca-btn mt-30">Post Comment</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="sidebar-area mt-5">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area search-widget-area mb-80">
                        <form action="{% url 'podcast:podcast-search' %}" method="GET">
                            <input type="search" name="query" class="form-control" placeholder="Search ..." {% if query %}value="{{query}}"{% endif %}>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area catagories-widget mb-80">
                        <h5 class="widget-title">Categories</h5>

                        <!-- catagories list -->
                        <ul class="catagories-list">
                            {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}"><i class="fa fa-angle-double-right"
                                        aria-hidden="true"></i>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area news-widget mb-80">
                        <h5 class="widget-title">Recent Posts</h5>

                        <!-- Single News Area -->
                        {% for podcast in recent_podcasts %}
                        <div class="single-news-area d-flex">
                            <div class="blog-thumbnail">
                                <img src="{{ podcast.picture.url }}" alt="podcast image">
                            </div>
                            <div class="blog-content">
                                <a href="{{ podcast.get_absolute_url }}" class="post-title">{{ podcast.title }}</a>
                                <span class="post-date">{{ podcast.date_created }}</span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area adds-widget mb-80">
                        <a href="{{ featured_podcast.get_absolute_url }}"><img class="w-100" src="{{ featured_podcast.picture.url }}" alt=""></a>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area tags-widget mb-80">
                        <h5 class="widget-title">Popular Tags</h5>

                        <ul class="tags-list">

                            <li><a href="#">Creative</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Podcast Details Area End ***** -->
{% endblock %}