.bg-transparent-1 {
    background: rgba(0, 0,0,.3) !important;
}
.h-100{
    height: 100%;
}
.advert-container {
    position: relative;
    overflow: hidden;
}

.advert-slider {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
    width: auto;
    position: relative;
}

.fade {
    animation: fade 0.5s ease-in;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    90%{
        opacity: 0.4;
    }
    100%{
        opacity : 0.01;
    }
}